<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ставки</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="content">
        <div class="header">
            <ul>
                <li id="active_menu">Рабочая область</li>
                <a href="/statistics"><li>Статистика</li></a>
                <a href="/settings"><li>Настройки</li></a>
            </ul>
        </div>
        <div class="body">
            <h3>Рабочая область</h3>
        </div>
    </div>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javacripts/scripts.js"></script>
</body>
</html>